body {
  padding: 0px;
}

/* --- START Navigation Bar --- */

nav {
  /* background-color: blue; */
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #c4c4c4;
}

nav .left {
  display: flex;
  /* background-color: green; */
  justify-content: center;
  align-items: center;
  gap: 16px;
}

nav .left .logo {
  width: 26px;
  height: 26px;
}

nav .left h2 {
  font-family: "Lexend Tera", serif;
  font-weight: 500;
  display: none;
}

nav .middle {
  /* background-color: red; */
  width: 50%;
}

nav .middle .search-container {
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 6px 12px;
  border-radius: 10px;
}

nav .middle .search-container input {
  background-color: #f0f0f0;
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
}

nav .middle .search-container input::placeholder {
  color: #c4c4c4;
}

nav .middle .search-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

nav .right {
  /* background-color: yellow; */
  display: flex;
  gap: 12px;
}

nav .right .cart-icon,
nav .right .profile-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  stroke: #000000;
}

/* --- END Navigation Bar --- */
/* --- START Cart Products --- */

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
  max-width: 800px;
  /* background-color: yellow; */
}

.ai-recommendation {
  background-color: #000000;
  color: #ffffff;
  padding: 16px;
  border-radius: 10px;
  font-size: 14px;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product-img {
  background-color: #f0f0f0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: lightcoral; */
  width: calc(100% - 60px);
  padding: 6px;
  height: 60px;
}

.product-details .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name,
.product-count {
  font-size: 12px;
}

.x-icon {
  width: 14px;
  height: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.x-icon:hover {
  background-color: #f0f0f0;
}

.product-details .bottom {
  display: flex;
  justify-content: space-between;
}

.product-price {
  font-weight: 700;
  font-size: 16px;
}

.product-counter {
  display: flex;
  gap: 12px;
  align-items: center;
}

.product-decrease,
.product-increase {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.product-decrease:hover,
.product-increase:hover {
  opacity: 0.85;
}

.payment-container {
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.payment-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subtotal,
.delivery-fee,
.total {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.checkout-btn {
  background-color: #ff2c2c;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.checkout-btn:hover {
  opacity: 0.85;
}

/* --- END Cart Products --- */

@media screen and (min-width: 460px) {
  main {
    padding: 32px;
    gap: 32px;
    /* background-color: yellow; */
  }

  .products {
    gap: 32px;
  }

  .product-img {
    background-color: #f0f0f0;
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: lightcoral; */
    width: calc(100% - 100px);
    padding: 10px;
    height: 100px;
  }

  .x-icon {
    width: 20px;
    height: 20px;
  }
  
  .product-name,
  .product-count {
    font-size: 14px;
  }

  .product-price {
    font-weight: 700;
    font-size: 20px;
  }

  .product-decrease,
  .product-increase {
  width: 26px;
  height: 26px;
}
}

@media screen and (min-width: 720px) {
  nav .left h2 {
    display: block;
  }

  nav .middle {
    width: 40%;
  }
}

@media screen and (min-width: 1100px) {
  nav .middle {
    width: 50%;
  }
}