:root {
  --base-color: #ffffff;
  --base-variant: #1a1a1a;
  --gray: #f0f0f0;
  --dark-gray: #cacaca;
  --accent-color: #ff2c2c;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: var(--base-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--base-variant);
  border-radius: 10px;
  border: 5px solid var(--base-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
  background-color: var(--base-color);
  padding: 20px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}