:root {
  --base-color: #ffffff;
  --base-variant: #1a1a1a;
  --gray: #f0f0f0;
  --dark-gray: #cacaca;
  --accent-color: #ff2c2c;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--base-variant);
  border-radius: 10px;
  border: 5px solid var(--base-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
  background-color: var(--base-color);
  padding: 20px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}

/* --- START Sidebar Popup --- */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
  position: fixed;
  top: 0;
  right: -280px;
  width: 280px;
  height: 100%;
  background: white;
  transition: right 0.3s ease-in-out;
  z-index: 101;
}

.sidebar.active {
  right: 0;
}

.overlay.active {
  display: block;
}

.sidebar .top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
}

.sidebar .back-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.sidebar .profile-details-container {
  /* background-color: lightyellow; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}

.profile-detail .top {
  /* background-color: lightgoldenrodyellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-detail .top svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.profile-detail .bottom {
  background-color: #f0f0f0;
  color: #c4c4c4;
  padding: 12px;
  border-radius: 10px;
}

.log-out-container {
  display: flex;
  gap: 8px;
  align-items: center;
  align-self: flex-start;
  padding: 4px 8px 4px 6px;
  border-radius: 8px;
  /* background-color: lightpink; */
  font-size: 14px;
  transition: background-color 0.3s;
}

.log-out-container:hover {
  background-color: #f0f0f0;
}

.log-out-container svg {
  width: 18px;
  height: 18px;
}

.log-out-container a {
  color: #000000;
  cursor: pointer;
}

/* --- END Sidebar Popup --- */